@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --font-size: 1rem;
  --theme-component-color: #03a9f4;
  --theme-component-hover: #67daff;
  --theme-component-active: #007ac1;
  --theme-component-disabled: #607d8b;
  --theme-component-text-disabled: #8eacbb;
}

* {
  font-family: "Rajdhani", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
}

@media only screen and (max-width: 768px) {
  :root {
    --font-size: 0.5rem;
  }
}